.login {
    width: 550px;
    height: 380px;
    margin: 5% auto;
}

.login mat-card-header {
    justify-content: center;
    margin: 15px 0px;
}

.login mat-card-title {
    margin: 10px auto;
    font-size: 26px;
    font-weight: bold;
}

.login button {
    color: rgb(59, 152, 228);
    font-weight: 600;
    border: 1px solid rgba(61, 150, 223);
    margin: 10px 0px;
}

.form {
    display: grid;
}