<mat-card class = "login">
  <mat-card-header>
    <mat-card-title>Bem-vindo!</mat-card-title>
    <mat-card-subtitle>Por favor, se identifique.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class = "form"  [formGroup] = "form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input  matInput
                placeholder="E-mail"
                floatLabel = "always"
                formControlName = "email"/>
        <mat-error *ngIf = "form.get('email').touched 
                            && form.get('email').hasError('email')">
          Informe um e-mail válido.
        </mat-error>
        <mat-error *ngIf = "form.get('email').touched 
                            && form.get('email').hasError('required')">
          Campo obrigatório.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
          <input  matInput
                  placeholder="Senha"
                  floatLabel = "always"
                  type="password"
                  formControlName = "password"/>
          <mat-error *ngIf = "form.get('password').touched 
                              && form.get('password').hasError('required')">
            Informe sua senha.
          </mat-error>
      </mat-form-field>
      <button mat-stroked-button 
              class = "submit"
              type="submit">
        ENTRAR
      </button>
    </form>
  </mat-card-content>
</mat-card>