<mat-toolbar class = header>
  <h1 *ngIf="data.type == 'department'">Formulário para Empreendimento</h1>
  <h1 *ngIf="data.type == 'process'">Formulário para Processo</h1>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class = "mat-dialog">
                              <!--FORMULÁRIO PARA EMPREENDIMENTO-->
  <div class = "form">
    <form *ngIf = "data.type == 'department'" [formGroup] = "form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <input matInput
                placeholder = "Nome do empreendimento"
                floatLabel = "always"
                formControlName = "department">
        <mat-error *ngIf = "form.get('department').touched 
                            && form.get('department').hasError('required')">
          Informe o nome do empreendimento.
        </mat-error>
        <mat-error *ngIf = "form.get('department').errors?.minlength">
          Mínimo 3 caracteres.
        </mat-error>
      </mat-form-field>

      <!--mat-form-field appearance="outline" *ngIf="departmentLeader">
        <mat-label>Líder do Empreendimento</mat-label>
        <mat-select formControlName = "leader">
          <mat-option *ngFor = "let leaderDepartment of userService.users$ | async"
                      [value]="leaderDepartment?.id">
            {{leaderDepartment?.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf = "form.get('leader').touched
                            && form.get('leader').hasError('required')">
          Selecione um líder para este empreendimento.
        </mat-error>
      </mat-form-field-->

      <button mat-stroked-button class = "submit-button" type="submit">CADASTRAR</button>
    </form>

                                <!--FORMULÁRIO PARA PROCESSO-->
    <form  *ngIf = "data.type == 'process'" [formGroup] = "form" (ngSubmit) = "onSubmit()">
      <mat-form-field appearance="outline">
        <input  matInput
                placeholder="Nome do processo"
                floatLabel = "always"
                formControlName = "process">
        <mat-error *ngIf = "form.get('process').touched 
                            && form.get('process').hasError('required')">
          Informe o nome do processo.
        </mat-error>
        <mat-error *ngIf = "form.get('process').errors?.minlength">
          Mínimo 3 caracteres.
        </mat-error>
      </mat-form-field>
      <!--mat-form-field appearance="outline">
        <mat-label>Líder do Empreendimento</mat-label>
        <mat-select formControlName = "leader">
          <mat-option *ngFor = "let leaderProcess of userService.users$ | async"
                      [value]="leaderProcess?.id">
            {{leaderProcess?.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf = "form.get('leader').touched
                            && form.get('leader').hasError('required')">
          Selecione um líder para este processo.
        </mat-error>
      </mat-form-field-->

      <mat-form-field appearance="outline">
        <mat-label>Pertence ao empreendimento</mat-label>
        <mat-select formControlName = "department">
          <mat-option *ngFor = "let department of departmentService.departments$ | async"
                      [value] = "department.id">
            {{department.name}}          
          </mat-option>
        </mat-select>
        <mat-error *ngIf = "form.get('department').touched 
                            && form.get('department').hasError('required')">
          Escolha um empreedimento.
        </mat-error>
      </mat-form-field>
      <button mat-stroked-button class = "submit-button" type="submit">CADASTRAR</button>
    </form>
  </div>
</mat-dialog-content>