<mat-toolbar class = "header">
  <h1>Informações do processo</h1>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class = "mat-dialog">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>assignment</mat-icon>
        Resumo
      </ng-template>
      <div class="process-review" *ngIf = "dics$">
        <mat-accordion [multi]='true'>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="dic-todo">
              <mat-panel-title>Dics definindo</mat-panel-title>
              <mat-panel-description>{{toDo.length}} Dics</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list *ngFor="let dic of  toDo ">
              <div class="dic-review" (click)="viewDic(dic)">
                <mat-list-item>
                  <span>Dic:&nbsp;<p>{{dic.description}}</p></span>
                  <div class="user-info">
                    {{dic.user.name}}
                    <img src="../../../assets/images/userIcon.png">
                  </div>
                </mat-list-item>
              </div>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="dic-doing">
              <mat-panel-title>Dics definidos</mat-panel-title>
              <mat-panel-description>{{doing.length}} Dics</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list *ngFor="let dic of  doing ">
              <div class = "dic-review" (click)="viewDic(dic)">
                <mat-list-item>
                  <span>Dic:&nbsp;<p>{{dic.description}}</p></span>
                  <div class="user-info">
                    {{dic.user.name}}
                    <img src="../../../assets/images/userIcon.png">
                  </div>
                </mat-list-item>
              </div>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="dic-done">
              <mat-panel-title>Dics concluídos</mat-panel-title>
              <mat-panel-description>{{done.length}} Dics</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list *ngFor="let dic of done ">
              <div class = "dic-review" (click)="viewDic(dic)">
                <mat-list-item>
                  <span>Dic:&nbsp;<p>{{dic.description}}</p></span>
                  <div class="user-info">
                    {{dic.user.name}}
                    <img src="../../../assets/images/userIcon.png">
                  </div>
                </mat-list-item>
              </div>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-expansion-panel>

        </mat-accordion>

      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>people</mat-icon>
        Colaboradores
      </ng-template>
      <div class="involveds-list">
        <mat-list *ngFor = "let user of users$">
          <div class = "involved-item" (click)="viewUser(user)">
            <mat-list-item>
              <img src="../../../assets/images/userIcon.png">
              <span>Nome:&nbsp;<p>{{user.name}}</p></span>
            </mat-list-item>
          </div>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </mat-tab>
  </mat-tab-group>

</mat-dialog-content>