.header {
    margin:0;
    background-color: #e2e2e2;
    position: relative;
    flex-direction: row;
    align-items: center;
    color: #292929;
    border-bottom: 3px solid rgb(61, 150, 223);
    box-shadow: 1px 1px 2px #d6d6d6; 
}

.header h1 {
    width: 100%;
    font-weight: 700;
}

.mat-dialog {
    margin: auto;
    padding: 0px;
}

.mat-accordion {
    margin: 10px;
}

.dic-review {
    width: 100%;
    align-content: center;
    padding: 5px;
}

.dic-review:hover {
    transition: 1s;
    background-color: #e0e0e0;
}

.dic-review span {
    width: 80%;
    display: flex;
}

.dic-review p {
    width: 20%;
}

.process-review mat-expansion-panel {
    margin: 10px;
}

.user-info {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
}

.involved-item {
    cursor: pointer;
}
.involved-item:hover {
    transition: 1s;
    background-color: #e0e0e0;
}

.involved-item span {
    width: 100%;
}

.involved-item p {
    width: 100%;
}

.involveds-list {
    height: 100%;
}

.involved-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5px;
}

.mat-list-base {
    padding: 0px;
}

.mat-list-item span {
    display: flex;
    align-items: baseline;
    font-weight: bold;
    color: #383838;
    margin: 0px 10px;
}

.mat-list-item p {
    width: 100%;
    margin: 0px;
    font-weight: normal;
    color: #000;
}

.mat-list-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 5px;
}

.mat-expansion-panel-header-title {
    color: #fff;
    font-weight: bold;
    width: 20%;
}

.mat-expansion-panel-header-description {
    font-weight: bold;
    color: #383838;
    align-items: center;
}

.mat-expansion-panel-header.dic-todo {
    background-color: #fe6863;
}

.mat-expansion-panel-header.dic-todo:hover {
    transition: 1s;
    background-color:#ff928f !important;
}
.mat-expansion-panel-header.dic-doing {
    background-color: #febb63;
}
.mat-expansion-panel-header.dic-doing:hover{
    background-color:#ffc273 !important;
}

.mat-expansion-panel-header.dic-done {
    background-color: #75fe63;
}
.mat-expansion-panel-header.dic-done:hover{
    background-color:#92fc84 !important;
}
