<mat-toolbar class = "header">
  <h1>Cadastro do Dic</h1>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class = "mat-dialog">
  <div class = form>
    <form [formGroup] = "form" (ngSubmit) = "onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Período</mat-label>
        <mat-select formControlName = 'idPeriod'>
          <mat-option  *ngFor = 'let period of periodService.periods$ | async'
                        [value]='period.id'>
            {{period.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf = "form.get('idPeriod').touched 
                            && form.get('idPeriod').hasError('required')">
          Selecione o período
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
        <textarea matInput 
                  floatLabel="always"
                  formControlName = "description"
                  type = "text">
        </textarea>
        <mat-error *ngIf = "form.get('description').touched 
                            && form.get('description').hasError('required')">
          Campo obrigatório.
        </mat-error>
        <mat-error *ngIf = "form.get('description').errors?.minlength">
          Mínimo 3 caracteres.
        </mat-error>
      </mat-form-field>
      <button mat-stroked-button type="submit">CADASTRAR</button>
    </form>
    </div>
</mat-dialog-content>
