<mat-toolbar class = "header">
  <h1>Cadastro do Dic</h1>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class = "mat-dialog" *ngIf='configuration'>
  <div class = form>
    <h3>Desafio Individual do Colaborador: {{configuration.period.name}}</h3>
    <h4>Período: {{configuration.period.startDate | date: 'dd/MM/yyyy'}} - 
                  {{configuration.period.endDate | date: 'dd/MM/yyyy'}}
    </h4>
    <form [formGroup] = "form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
          <mat-label>Desafio</mat-label>
        <textarea matInput 
                  floatLabel="always"
                  placeholder="Informe seu desafio neste campo"
                  formControlName = "description"
                  type = "text">
        </textarea>
        <mat-error *ngIf = "form.get('description').touched 
                            && form.get('description').hasError('required')">
          Campo obrigatório.
        </mat-error>
        <mat-error *ngIf = "form.get('description').errors?.minlength">
          Mínimo 3 caracteres.
        </mat-error>
      </mat-form-field>
      <button mat-stroked-button type="submit">CADASTRAR</button>
    </form>
    </div>
</mat-dialog-content>
