<mat-toolbar class = "header">
  <h1>DESAFIOS INDIVIDUAIS DOS COLABORADORES</h1>

  <button class = "button-add" [routerLink]="['new']" (click)="create()" mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class = "dic-list">
  <mat-card class = "status-card">
    <mat-toolbar class = "status-header status-todo">Definindo</mat-toolbar>

    <div  cdkDropList #toDoList = "cdkDropList" (cdkDropListDropped)="drop($event)"
          [cdkDropListData] = "dicToDo" [cdkDropListConnectedTo]="[doingList]"
          [cdkDropListEnterPredicate]="noReturnPredicate">
      <ng-container *ngFor = "let dic of dicToDo">
          <mat-card cdkDrag id="{{dic.id}}"
                    cdkDragData="toDefine"
                    class = "dic-card" 
                    [routerLink]="[dic.id]"
                    (click)="view(dic)"
                    (cdkDragDropped)="setDicDropped(dic)">
            <mat-card-header>
              <img mat-card-avatar src="../../../assets/images/userIcon.png">
              <mat-card-title>{{dic.user.name}}</mat-card-title>
              <mat-card-subtitle> Empreendimento: {{dic.user.department.name}} <br/>
                                  Processo: {{dic.user.process.name}} 
              </mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
          <mat-card-content>
            {{dic.description}}
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </mat-card> 

  <mat-card class = "status-card">

    <mat-toolbar class = "status-header status-doing">Definido</mat-toolbar>
    <div  cdkDropList #doingList = "cdkDropList" (cdkDropListDropped)="drop($event)"
          [cdkDropListData] = "dicDoing" [cdkDropListConnectedTo]="[doneList]"
          [cdkDropListEnterPredicate] = "otherPredicate">
      <ng-container *ngFor = "let dic of dicDoing">
        <mat-card cdkDrag
                  cdkDragData="defined"
                  class = "dic-card"
                  [routerLink]="[dic.id]" 
                  (click)="view(dic)"
                  (cdkDragDropped)="setDicDropped(dic)">
          <mat-card-header>
            <img mat-card-avatar src="../../../assets/images/userIcon.png">
            <mat-card-title>{{dic.user.name}}</mat-card-title>
            <mat-card-subtitle> Empreendimento: {{dic.user.department.name}}  <br/>
                                Processo: {{dic.user.process.name}} 
            </mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            {{dic.description}}
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
    
  </mat-card>

  <mat-card class = "status-card">
    <mat-toolbar class = "status-header status-done">Concluído</mat-toolbar>
    <div  cdkDropList #doneList = "cdkDropList" (cdkDropListDropped)="drop($event)"
          [cdkDropListData] = "dicDone" [cdkDropListConnectedTo]="[doingList]"
          [cdkDropListEnterPredicate]="evenPredicate">
      <ng-container  *ngFor = "let dic of dicDone">
        <mat-card cdkDrag class = "dic-card" 
                  cdkDragData="concluded"
                  [routerLink]="[dic.id]"
                  (click)="view(dic)"
                  (cdkDragDropped)="setDicDropped(dic)">
          <mat-card-header>
            <img mat-card-avatar src="../../../assets/images/userIcon.png">
            <mat-card-title>{{dic.user.name}}</mat-card-title>
            <mat-card-subtitle> Empreendimento: {{dic.user.department.name}}  <br/>
                                Processo: {{dic.user.process.name}} 
            </mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            {{dic.description}}
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </mat-card>  
</div>
